.background{
    background-image: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-ins{
    background-color: white;
    height: 380px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.content-ins{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.points{
    padding: 30px;
}

.points > div > p {
    margin: 10px 0px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.start-btn{
    padding: 10px 15px;
    background-color: #800080;
    border: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.start-btn:hover{
    font-size: 18px;
}

/* For smaller screens */

@media screen and (max-width: 700px){
    .pop-up-ins{
        width: 300px;
        height: 400px;
    }

    .points{
        padding: 20px;
    }
    
    .points > div > p {
        margin: 10px 0px;
        font-size: 15px;
        text-align: justify;
    }

    .content-ins > h2{
        font-size: 18px;
    }
}